/*

THIS SHEET IS FOR SITEWIDE STYLES RELATED TO:

- Layout
- Applying your color definitions from colors.scss
- Applying your typography definitions from type.scss

*/


/* ::: GENERAL ::::::::::::::::::::::::::::::::: */

	// Customize the look of selected text -- feel free to change the colors
	::-moz-selection { // Mozilla
       background-color: $black;
       color: $white;
	}
	::selection { // Safari
       background-color: $black;
       color: $white;
	}
	


/* ::: SITE HEADER ::::::::::::::::::::::::::::::::: */

	.site-header {
		h1 { // this h1 is just for SEO and keeping a good HTML5 document model
			@include hide(); 
		}
		.site-title {

		}
	}


/* ::: MAIN NAV ::::::::::::::::::::::::::::::::: */
	
	.nav-main {
		a {
			text-decoration: none;
			display: inline-block;
			line-height: 1.8em;
			padding: 1em 2em;
			&:link, &:visited {
				// style the links
			}
			&:hover, &:active, &:focus {
				// style the links
			}
		}
		/* Down States */
		.current_page_item a {
		}
	}


/* ::: FOOTER ::::::::::::::::::::::::::::::::: */

	.footer {
		clear: both;
		@include sans();
		a {
			text-decoration: none;
		}
		nav {
			margin: 1em 0;
			font-weight: bold;
			text-transform: uppercase;
			ul {
				list-style-type: none;
			}
		}

		/* Credit */
		.credit {
			margin-bottom: 3em;
			h1 {
			font-size: 1em;
			}
		}
	}




